.FLATwhite {
  --light: #ECF0F1;
  --dark: #BDC3C7;
}

.FLATgray {
  --light: #95A5A6;
  --dark: #7F8C8D;
}

.FLATblack {
  --light: #34495E;
  --dark: #2C3E50;
}

.I {
  --light: #2ECC71;
  --dark: #27AE60;
  --inside: var(--light);
  --outside: var(--dark);
}

.II {
  --dark: #16A085;
  --light: #1ABC9C;
  --inside: var(--dark);
  --outside: var(--light);
}

.III {
  --light: #3498DB;
  --dark: #2980B9;
  --inside: var(--light);
  --outside: var(--dark);
}

.IV {
  --dark: #8E44AD;
  --light: #9B59B6;
  --inside: var(--dark);
  --outside: var(--light);
}

.V {
  --light: #E74C3C;
  --dark: #C0392B;
  --inside: var(--light);
  --outside: var(--dark);
}

.VI {
  --dark: #D35400;
  --light: #E67E22;
  --inside: var(--dark);
  --outside: var(--light);
}

.VII {
  --light: #F1C40F;
  --dark: #F39C12;
  --inside: var(--light);
  --outside: var(--dark);
}

html {
  font: 100% sans-serif;
}

body {
  overflow: scroll;
}

p {
  margin: 0;
}

#scaleBox {
  width: 800px;
  margin: 0 auto;
  height: 55px;
  padding: 10px 25px;
  color: var(--dark);
  white-space: nowrap;
  z-index: 2;
}

#scaleSlider {
  margin-left: -11px;
  margin-top: -25px;
  width: fit-content;
  z-index: 2;
}

#scaleSliderRange {
  width: 432px;
  margin-left: -19px;
  background: transparent;
  -webkit-appearance: none;
  z-index: 2;
}

#scaleSliderRange:focus {
  outline: none;
}

#scaleSliderRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

#scaleSliderRange::-moz-range-track {
  width: 100%;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

#scaleSliderRange::-webkit-slider-thumb {
  height: 54px;
  width: 56px;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 24px;
}

#scaleSliderRange::-moz-range-thumb {
  height: 54px;
  width: 56px;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 24px;
}

#scaleSliderRange::-moz-focus-outer {
  border: 0;
}

#scaleSliderLabel {
  position: absolute;
  left: 100px;
  top: 10px;
  font-size: 150%;
}

#scaleSliderLabelInfo {
  position: absolute;
  left: 100px;
  top: 40px;
}

#scaleSliderCursor {
  position: absolute;
  transform-origin: center center;
  left: 25px;
  top: 15px;
  z-index: 1;
}

#dashedPointer {
  margin-left: 50%;
  margin-top: -15px;
  height: 63px;
  width: 0;
  border-left: 2px dotted var(--dark);
  transform-origin: center center;
}

#scaleSettingsBox {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

#keyboardBox {
  position: relative;
  width: 800px;
  height: 232px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: var(--dark);
  touch-action: none;
}

#chatOverlay {
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  overflow: hidden;
}

#chatOverlayMessages {
  height: 80%;
  overflow: auto;
}

#loadChatText {
  font-weight: bold;
  text-align: center;
  color: var(--light);
  margin: 2px;
}

#nicknameText {
  color: var(--light);
  margin: 2px;
}

.key {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 3px 2px 1px #808080;
  display: inline-block;
  position: relative;
}

.white {
  color: #2C3E50;
  background-color: #ECF0F1;
}

.black {
  color: #ECF0F1;
  background-color: #2C3E50;
}

.pressed {
  box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.7);
  transform: translate(3px, 2px);
}

.label {
  font: 75% sans-serif;
  font-style: italic;
  text-align: left;
  position: absolute;
  opacity: 0.8;
}

.character {
  top: 0;
  left: 5%;
}

.ENGnote {
  display: block;
  bottom: 0;
  right: 5%;
}

.ITAnote {
  display: none;
  bottom: 0;
  left: 5%;
}

.mode {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
  font: 170% serif;
  text-align: center;
  background-color: var(--inside);
  box-shadow: 0px 0px 0px 5px var(--outside) inset;
}

.unselected {
  opacity: 0.6;
  background-color: transparent;
}

#modalBox {
  width: 850px;
  height: 150px;
  margin: 0 auto;
}

#mechanicSettingsBox, #playChordSettingsBox {
  padding: 10px;
  color: var(--dark);
  white-space: nowrap;
}

#mechanicSettingsBox {
  float: left;
  width: 60px;
}

#playChordSettingsBox {
  float: right;
  width: 0;
  transform: translate(-1000%, -10px);
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  opacity: 0.7;
}

input[type="range"] {
  z-index: 2;
}

label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 40px;
  height: 25px;
  cursor: pointer;
}

label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid var(--dark);
  border-radius: 4px;
  z-index: -1;
}

input[type="radio"]+label::before {
  border-radius: 18px;
}

input[type="checkbox"]:checked+label,
input[type="radio"]:checked+label {
  padding-left: 10px;
  color: white;
}

input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
  opacity: 0.7;
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
  width: 100%;
  background: var(--light);
}

label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

#sequenceBox {
  height: fit-content;
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}

.sequenceElement {
  display: inline-block;
}

.sequenceLabel {
  width: 50px;
  height: 40px;
  margin: 15px;
  padding-top: 10px;
}

.leftArrow {
  top: 7px;
  position: relative;
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-right: 20px;
  border: 17px solid;
  border-color:
    var(--dark) var(--dark) transparent transparent;
  transform: rotate(-135deg);
}

.leftArrow:before, .leftArrow:after {
  content: '';
  position: absolute;
  border: 12px solid;
}

.leftArrow:before {
  border-color:
    var(--dark) transparent transparent var(--dark);
  right: 0px;
  transform-origin: top right;
  transform: rotate(45deg);
}

.leftArrow:after {
  border-color:
    transparent var(--dark) var(--dark) transparent;
  right: 0px;
  transform-origin: top right;
  transform: rotate(-45deg);
}

.rightArrow {
  top: 7px;
  position: relative;
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-left: 20px;
  border: 17px solid;
  border-color:
    var(--dark) var(--dark) transparent transparent;
  transform: rotate(45deg);
}

.rightArrow:before, .rightArrow:after {
  content: '';
  position: absolute;
  border: 12px solid;
}

.rightArrow:before {
  border-color:
    var(--dark) transparent transparent var(--dark);
  right: 0px;
  transform-origin: top right;
  transform: rotate(45deg);
}

.rightArrow:after {
  border-color:
    transparent var(--dark) var(--dark) transparent;
  right: 0px;
  transform-origin: top right;
  transform: rotate(-45deg);
}

.expectation {
  transform: rotate(-45deg);
}

.consonance {
  transform: rotate(135deg);
}

.percentageFill {
  display: none;
  margin: auto;
  height: 0px;
  width: 0px;
  border: 20px solid;
  border-color: var(--light) var(--light) transparent transparent;
}

.percentageOutline {
  height: 40px;
  width: 40px;
  border: 1px solid var(--dark);
  border-width: 2px 2px 0 0;
  transform: translate(-20px, -22px);
}

#accordion {
  display: table;
  margin: 10px auto;
  width: 800px;
  background-color: white;
}

.accordionElement {
  margin: 10px auto;
  background: var(--light);
  border: 3px solid var(--light);
  border-radius: 20px;
  min-height: 30px;
  max-height: 40px;
  width: 800px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.accordionElement[open] {
  border-radius: 5px;
  min-height: 80px;
  max-height: 800px;
  width: 850px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.accordionElement:hover {
  border: 3px solid var(--dark);
}

.accordionElement ::-webkit-details-marker {
  display: none;
}

.accordionElement+.accordionElement {
  margin-top: 10px;
}

.accordionBanner {
  color: var(--dark);
  outline: none;
  font-size: 20px;
  line-height: 30px;
}

.accordionBanner:after {
  content: "➕";
  float: left;
}

[open] .accordionBanner:after {
  content: "➖";
}

.accordionTitle {
  font-size: 20px;
  padding: 5px;
}

#feelingText {
  opacity: 1;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
  fill: var(--inside);
  font-weight: bold;
  font-size: 45px;
}

.indicator {
  display: inline;
  margin: 0 10px;
}

.indicator svg polyline {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.indicator svg polyline.back {
  stroke: var(--outside);
}

.indicator svg polyline.front {
  stroke: var(--inside);
  stroke-dasharray: 100% 200%;
  stroke-dashoffset: 300%;
  animation: slide 1s linear infinite;
}

.indicator svg polyline.standalone {
  display: none;
  stroke: var(--inside);
  stroke-dasharray: 100% 200%;
  stroke-dashoffset: 300%;
  animation:
    slide 1s linear infinite,
    fade 3s cubic-bezier(0.2, 0.9, 0.2, 1) forwards;
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  to {
    opacity: 0;
  }
}

@-o-keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-moz-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-webkit-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-o-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  z-index: 2;
}

.overlayText {
  position: absolute;
  width: 90%;
  margin: 5%;
  text-align: center;
  font-size: 50px;
  color: var(--dark);
}

button {
  padding: 10px 15px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--dark);
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.85;
}

button:active {
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
  cursor: not-allowed;
  background: linear-gradient(to top right,
    #2C3E50, #2C3E50 40%,
    var(--dark) 41%, var(--dark) 59%,
    #2C3E50 60%);
}

.pulsating {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-moz-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-webkit-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-o-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

#onlineBox {
  position: relative;
  min-height: 150px;
}

#onlineOverlay {
  display: block;
  min-height: 150px;
}

#chatBox {
  max-height: 150px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  display: none;
}

#chatBoxFadeOut {
  height: 50px;
  background: linear-gradient(var(--light), transparent 50px);
}

#chatBoxFadeOutContainer {
  height: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#viewChatText {
  font-weight: bold;
  text-align: center;
}

.message {
  width: fit-content;
  background: linear-gradient(var(--dark), var(--light) 10px);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#roomsBox {
  overflow: auto;
  white-space: nowrap;
}

#recordBox {
  margin: 10px 0;
}

a {
  color: inherit;
}