.FLATwhite {
  --light: #ECF0F1;
  --dark: #BDC3C7;
}

.FLATgray {
  --light: #95A5A6;
  --dark: #7F8C8D;
}

.FLATblack {
  --light: #34495E;
  --dark: #2C3E50;
}

.I {
  --light: #2ECC71;
  --dark: #27AE60;
}

.II {
  --dark: #16A085;
  --light: #1ABC9C;
}

.III {
  --light: #3498DB;
  --dark: #2980B9;
}

.IV {
  --dark: #8E44AD;
  --light: #9B59B6;
}

.V {
  --light: #E74C3C;
  --dark: #C0392B;
}

.VI {
  --dark: #D35400;
  --light: #E67E22;
}

.VII {
  --light: #F1C40F;
  --dark: #F39C12;
}

.outOfScale {
  --light: transparent;
  --dark: transparent;
}

html {
  font: 100% sans-serif;
}

body {
  overflow: scroll;
}

p {
  margin: 0;
}

h1 {
  font-size: 125%;
  margin: 0 10px;
}

#scaleBox {
  width: 800px;
  margin: 0 auto;
  height: 55px;
  padding: 10px 25px;
  color: var(--dark);
  white-space: nowrap;
  z-index: 2;
}

#scaleSlider {
  position: absolute;
  margin-left: -11px;
  margin-top: 16px;
  width: fit-content;
  z-index: 2;
}

#scaleSliderRange {
  width: 432px;
  margin-left: -19px;
  background: transparent;
  -webkit-appearance: none;
  z-index: 2;
}

#scaleSliderRange:focus {
  outline: none;
}

#scaleSliderRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

#scaleSliderRange::-moz-range-track {
  width: 100%;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

#scaleSliderRange::-webkit-slider-thumb {
  height: 54px;
  width: 56px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 24px;
  z-index: 2;
}

#scaleSliderRange::-moz-range-thumb {
  height: 54px;
  width: 56px;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 24px;
  border: 0;
  outline: none;
  z-index: 2;
}

#scaleSliderRange::-moz-focus-outer {
  border: 0;
  outline: none;
}

#scaleSliderLabel {
  position: absolute;
  left: 100px;
  top: 10px;
  font-size: 150%;
  z-index: -1;
}

#scaleSliderLabelInfo {
  position: absolute;
  left: 100px;
  top: 40px;
  z-index: -1;
}

#scaleSliderCursor {
  position: absolute;
  transform-origin: center center;
  left: 25px;
  top: 15px;
  z-index: -1;
}

#dashedPointer {
  position: absolute;
  transform-origin: center center;
  left: 28px;
  top: 14px;
  height: 0;
  margin-left: 25px;
  margin-top: 45px;
  width: 0;
  border-left: 2px dotted var(--dark);
  z-index: 1;
}

#scaleSettingsBox {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

#keyboardBox {
  position: relative;
  width: 800px;
  height: 232px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: var(--dark);
  touch-action: none;
}

#chatOverlay {
  width: inherit;
  height: inherit;
  padding: inherit;
  border-radius: inherit;
  overflow: hidden;
}

#chatOverlayMessages {
  height: 80%;
  overflow: auto;
}

#loadChatText {
  font-weight: bold;
  text-align: center;
  color: var(--light);
  margin: 2px;
}

#displayNameText {
  color: var(--light);
  margin: 2px;
}

.key {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 3px 2px 1px #808080;
  display: inline-block;
  position: relative;
}

.white {
  color: #2C3E50;
  background-color: #ECF0F1;
  --keyColor: #ECF0F1;
}

.black {
  color: #ECF0F1;
  background-color: #2C3E50;
  --keyColor: #2C3E50;
}

.pressed {
  box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.7);
  transform: translate(3px, 2px);
}

.label {
  font: 75% sans-serif;
  font-style: italic;
  text-align: left;
  position: absolute;
  opacity: 0.8;
}

.character {
  top: 0;
  left: 5%;
}

.ENGnote {
  display: block;
  bottom: 0;
  right: 5%;
}

.ITAnote {
  display: none;
  bottom: 0;
  left: 5%;
}

.mode {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid var(--dark);
  display: inline-block;
  font: 170% serif;
  text-align: center;
  background-color: var(--light);
}

.rootNote {
  box-shadow: 0px 0px 1px 1px var(--keyColor) inset;
}

.colorNote {
  box-shadow: 0px 0px 1px 3px var(--keyColor) inset;
}

.fifthNote {
  box-shadow: 0px 0px 1px 5px var(--keyColor) inset;
}

.tensionNote {
  opacity: 0.6;
  box-shadow: 0px 0px 0px 10px var(--keyColor) inset;
}

.unselected {
  opacity: 0.6;
  box-shadow: 0px 0px 0px 20px white inset;
}

#modalBox {
  width: 850px;
  height: 150px;
  margin: 0 auto;
}

#mechanicSettingsBox,
#playChordSettingsBox {
  padding: 10px;
  color: var(--dark);
  white-space: nowrap;
}

#mechanicSettingsBox {
  float: left;
  width: 60px;
}

#playChordSettingsBox {
  float: right;
  width: 0;
  transform: translate(-1000%, -10px);
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  opacity: 0.7;
}

input[type="range"] {
  z-index: 2;
}

label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 40px;
  height: 25px;
  cursor: pointer;
}

label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 2px solid var(--dark);
  border-radius: 4px;
  z-index: -1;
}

input[type="radio"]+label::before {
  border-radius: 18px;
}

input[type="checkbox"]:checked+label,
input[type="radio"]:checked+label {
  padding-left: 10px;
  color: white;
}

input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
  opacity: 0.7;
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
  width: 100%;
  background: var(--light);
}

label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

#sequenceBox {
  height: fit-content;
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}

.sequenceElement {
  display: inline-block;
}

.sequenceLabel {
  position: relative;
  width: 40px;
  height: 35px;
  margin: 15px;
  padding-top: 5px;
}

.leftArrow {
  top: 7px;
  position: relative;
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-right: 20px;
  border: 17px solid;
  border-color:
    var(--dark) var(--dark) transparent transparent;
  transform: rotate(-135deg);
}

.leftArrow:before,
.leftArrow:after {
  content: '';
  position: absolute;
  border: 12px solid;
}

.leftArrow:before {
  border-color:
    var(--dark) transparent transparent var(--dark);
  right: 0px;
  transform-origin: top right;
  transform: rotate(45deg);
}

.leftArrow:after {
  border-color:
    transparent var(--dark) var(--dark) transparent;
  right: 0px;
  transform-origin: top right;
  transform: rotate(-45deg);
}

.rightArrow {
  top: 7px;
  position: relative;
  display: inline-block;
  height: 0px;
  width: 0px;
  margin-left: 20px;
  border: 17px solid;
  border-color:
    var(--dark) var(--dark) transparent transparent;
  transform: rotate(45deg);
}

.rightArrow:before,
.rightArrow:after {
  content: '';
  position: absolute;
  border: 12px solid;
}

.rightArrow:before {
  border-color:
    var(--dark) transparent transparent var(--dark);
  right: 0px;
  transform-origin: top right;
  transform: rotate(45deg);
}

.rightArrow:after {
  border-color:
    transparent var(--dark) var(--dark) transparent;
  right: 0px;
  transform-origin: top right;
  transform: rotate(-45deg);
}

.expectation {
  transform: rotate(-45deg);
}

.consonance {
  transform: rotate(135deg);
}

.percentageFill {
  display: none;
  margin: auto;
  height: 0px;
  width: 0px;
  border: 20px solid;
  border-color: var(--light) var(--light) transparent transparent;
}

.percentageOutline {
  height: 40px;
  width: 40px;
  border: 1px solid var(--dark);
  border-width: 2px 2px 0 0;
  transform: translate(-20px, -22px);
}

#accordion {
  display: table;
  margin: 0 auto;
  width: 800px;
  background-color: white;
}

.accordionElement {
  margin: 10px auto;
  background: var(--light);
  border: 3px solid var(--light);
  border-radius: 20px;
  min-height: 30px;
  max-height: 40px;
  width: 800px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.accordionElement[open] {
  border-radius: 5px;
  min-height: 80px;
  max-height: 800px;
  width: 900px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.accordionElement:hover {
  border: 3px solid var(--dark);
}

.accordionElement+.accordionElement {
  margin-top: 10px;
}

.accordionBanner {
  color: var(--dark);
  outline: none;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
}

.accordionTitle {
  font-size: 20px;
}

#tensionBox {
  position: relative;
  min-height: 375px;
}

.nextChordText {
  font-weight: bold;
  font-size: 125%;
  display: inline-block;
  max-width: 205px;
  margin: 0 5px;
  color: var(--dark);
}

#tensionAdvice {
  vertical-align: sub;
}

.tensionLabel {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 35px;
  margin: 15px;
  margin-top: -30px;
  padding-top: 5px;
  transform-origin: center;
}

#pastChord,
#currentTensionDiv {
  left: 25%;
}

#currentChord,
.nextTensionDiv,
.nextChordsDiv {
  left: 50%;
}

.nextTension {
  transform-origin: -50px center;
}

.nextTensionLabel {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 35px;
  margin: 0;
  padding-top: 5px;
}

#nextTensionNone {
  transform: rotate(-45deg);
}

#nextTensionLow {
  transform: rotate(-15deg);
}

#nextTensionMedium {
  transform: rotate(15deg);
}

#nextTensionHigh {
  transform: rotate(45deg);
}

.nextChordsDiv {
  height: 50px;
  width: fit-content;
  padding: 0;
}

#nextChordTonic {
  transform: translate(155px, -155px);
}

#nextChordsLow {
  transform: translate(210px, -55px);
}

#nextChordsMedium {
  transform: translate(210px, 55px);
}

#nextChordsHigh {
  transform: translate(155px, 155px);
}

#pastFeeling,
#currentFeeling {
  position: absolute;
  top: 60%;
  font-weight: bold;
  font-size: 150%;
  color: var(--dark);
}

#pastFeeling {
  left: 10%;
}

#currentFeeling {
  left: 35%;
}

.indicator {
  display: inline;
  position: absolute;
  top: 50%;
  margin-left: 10%;
  margin-top: -55px;
}

.indicator svg polyline {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.indicator svg polyline.back {
  stroke: var(--light);
}

.indicator svg polyline.front {
  stroke: var(--dark);
  stroke-dasharray: 100% 200%;
  stroke-dashoffset: 300%;
  animation: slide 1s linear infinite;
}

.indicator svg polyline.standalone {
  display: none;
  stroke: var(--dark);
  stroke-dasharray: 100% 200%;
  stroke-dashoffset: 300%;
  animation:
    slide 1s linear infinite,
    fade 3s cubic-bezier(0.2, 0.9, 0.2, 1) forwards;
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  to {
    opacity: 0;
  }
}

@-o-keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-moz-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-webkit-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

@-o-keyframes slide {
  to {
    stroke-dashoffset: 0%;
  }
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  z-index: 2;
}

.overlayText {
  position: absolute;
  width: 90%;
  margin: 5%;
  text-align: center;
  font-size: 50px;
  color: var(--dark);
}

button {
  position: relative;
  padding: 10px 15px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--dark);
  color: white;
  font-weight: bold;
  outline: none;
}

button:hover {
  opacity: 0.85;
}

button:active {
  box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  opacity: 1;
}

.hoverLabelAbove,
.hoverLabelBelow {
  visibility: hidden;
  width: 120px;
  background-color: var(--dark);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  white-space: normal;
  left: 50%;
  margin-left: -60px;
}

.hoverLabelAbove {
  bottom: 125%;
}

.hoverLabelBelow {
  top: 0;
}

.hoverLabelAbove::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: var(--dark) transparent transparent transparent;
  left: 50%;
  margin-left: -5px;
}

.hoverLabelAbove::after {
  top: 100%;
}

button:disabled:hover>.hoverLabelAbove {
  visibility: visible;
}

input:disabled:hover+.hoverLabelBelow {
  visibility: visible;
}

.pulsating {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-moz-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-webkit-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

@-o-keyframes pulse {
  from {
    background-color: var(--dark);
  }

  50% {
    background-color: var(--light);
  }

  to {
    background-color: var(--dark);
  }
}

#onlineBox {
  position: relative;
  min-height: 125px;
  color: var(--dark);
}

#onlineOverlay {
  display: block;
  min-height: 125px;
}

#chatBox {
  max-height: 150px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  display: none;
}

#chatBoxFadeOut {
  height: 50px;
  background: linear-gradient(var(--light), transparent 50px);
}

#chatBoxFadeOutContainer {
  height: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#viewChatText {
  font-weight: bold;
  text-align: center;
}

.message {
  width: fit-content;
  background: linear-gradient(var(--dark), var(--light) 10px);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#roomsBox {
  white-space: nowrap;
}

#playBackSpeedDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}

#playBackSpeedSlider {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 200px;
  cursor: pointer;
  border-radius: 0;
  float: right;
}

#playBackSpeedSlider::-webkit-slider-runnable-track {
  background: var(--dark);
}

#playBackSpeedSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  border: 2px solid black;
}

#playBackSpeedSlider::-moz-range-track {
  height: 20px;
  background: var(--dark);
}

#playBackSpeedSlider::-moz-range-thumb {
  background: white;
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}

#playBackSpeedSlider::-ms-fill-lower {
  background: dodgerblue;
}

#playBackSpeedSlider::-ms-thumb {
  background: white;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
}

#playBackSpeedSlider::-ms-ticks-after {
  display: none;
}

#playBackSpeedSlider::-ms-ticks-before {
  display: none;
}

#playBackSpeedSlider::-ms-track {
  background: var(--dark);
  color: transparent;
  height: 20px;
  border: none;
}

#playBackSpeedSlider::-ms-tooltip {
  display: none;
}

#recordBox {
  margin: 10px 0;
}

#exportRecordingAnchor,
#importRecordingInput {
  display: none;
}

a {
  color: inherit;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--dark);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: snackIn 0.5s, snackOut 0.5s 1.5s;
  animation: snackIn 0.5s, snackOut 0.5s 1.5s;
}

@keyframes snackIn {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-moz-keyframes snackIn {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes snackIn {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-o-keyframes snackIn {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes snackOut {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@-moz-keyframes snackOut {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes snackOut {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@-o-keyframes snackOut {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}